#checkboxes label {
    float: left;
}

#checkboxes ul {
  margin: 0;
  list-style: none;
  float: left;
}

#boxStyle {
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
}

#sourcePara {
    text-align: center;
    width: 100%;
}

#chart {
    margin-left: -25px;;
}